@model IEnumerable<Bill2Pay.Model.SubmissionDetail>

@{
    ViewBag.Title = "IRS 1099K Report";
}

<h2>IRS 1099K Report</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayerOfficeCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrossAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPTransactionAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FederalWithHoldingAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JanuaryAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FebruaryAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarchAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AprilAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MayAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JuneAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JulyAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AugustAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeptemberAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OctoberAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NovemberAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DecemberAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForeignCountryIndicator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstPayeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondPayeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayeeMailingAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayeeCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayeeState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayeeZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondTINNoticed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FillerIndicatorType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentIndicatorType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MerchantCategoryCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialDataEntry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateWithHolding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalWithHolding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CFSF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameControl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MerchantId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PseId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayerOfficeCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrossAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPTransactionAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FederalWithHoldingAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JanuaryAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FebruaryAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarchAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AprilAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MayAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JuneAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JulyAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AugustAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeptemberAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OctoberAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NovemberAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DecemberAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForeignCountryIndicator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstPayeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondPayeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayeeMailingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayeeCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayeeState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayeeZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondTINNoticed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FillerIndicatorType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentIndicatorType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MerchantCategoryCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialDataEntry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StateWithHolding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalWithHolding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CFSF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameControl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MerchantId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccountNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmissionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmissionType)
        </td>
    </tr>
}

</table>
