@model IEnumerable<Bill2Pay.Model.MerchantDetails>

@{
    ViewBag.Title = "Merchant Details Report";
}

<h2>Merchant Details Report</h2>

@Html.Partial("_SelectYear", new Bill2Pay.Web.YearSelection() { AllowPostback = true, IsVisible = true, IsYearVisible=false  })

<div style="float:right;margin-top:-80px;">
    <button id="export" type="submit" class="btn btn-primary btn-lg " title="Export to CSV">
        <span class="fa fa-file-excel-o fa-lg"></span>
    </button>
    <button id="exportpdf" type="submit" class="btn btn-primary btn-lg " title="Export to PDF">
        <span class="fa fa-file-pdf-o fa-lg"></span>
    </button>
</div>

<div class="col-md-12">
    <div class="row">
        <div class="table-responsive">
            <table id="TMERCHANT_HTML" class="table">
                <thead>
                    <tr>
                        <th>
                            Payer Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayeeAccountNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayeeTIN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstPayeeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SecondPayeeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayeeMailingAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayeeCity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayeeState)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayeeZIP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MCC)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Payer.FirstPayerName
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayeeAccountNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayeeTIN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstPayeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SecondPayeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayeeMailingAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayeeCity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayeeState)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayeeZIP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MCC)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="visibility:hidden;display:none;">
            <table id="TMERCHANT" class="table">
                <thead>
                    <tr>
                        <th>
                            Payer Name
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayeeAccountNumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayeeTIN)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstPayeeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SecondPayeeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayeeMailingAddress)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayeeCity)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayeeState)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PayeeZIP)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.MCC)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Payer.FirstPayerName
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayeeAccountNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayeeTIN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstPayeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SecondPayeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayeeMailingAddress)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayeeCity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayeeState)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PayeeZIP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MCC)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $("#export").click(function () {
        $("#TMERCHANT").tableToCSV("Merchant_");
    });

    $("#exportpdf").click(function () {
        var doc = new jsPDF('l', 'mm', [420, 297]);

        var elem = document.getElementById("TMERCHANT");
        var res = doc.autoTableHtmlToJson(elem);
        doc.autoTable(res.columns, res.data, {
            startY: 10,
            tableWidth: 'auto',
            columnWidth: 'auto',
            styles: {
                overflow: 'linebreak'
            }
        });

        var d = new Date();
        var curr_date = d.getDate();
        var curr_month = d.getMonth() + 1; //Months are zero based
        var curr_year = d.getFullYear();
       
        var ts = curr_month+'_'+curr_date + "_" + curr_year;
        var name = 'Merchant_' + ts + '.pdf';

        doc.save(name)


    });

    $(document).ready(function () {
        $('#TMERCHANT_HTML').DataTable({
            order: [[0, 'asc']],
        });
    });
</script>
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/datatables.min.css" />

<style>
    input[type="checkbox"] {
        height: 18px;
        width: 18px;
    }

    .dataTable thead .sorting:after, .dataTable thead .sorting_asc:after {
        content: '';
    }

    .dataTable thead .sorting:before {
        content: '';
        margin-top: -2px;
        color: #999;
    }

    .dataTable thead .sorting_desc:after {
        content: '';
    }

    .dataTables_filter > label:after {
        content: "";
        font-family: icomoon;
        font-size: 12px;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 12px;
        margin-top: -6px;
        color: #999;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
</style>