@using Bill2Pay.Model
@model LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill2Pay Web Portal</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/Custom/Layout.js"></script>


    <link href="~/Content/Login.css" rel="stylesheet" />
    <style>
        input#Email {
            background: #fff url(../../Images/u0XmBmv.png) 20px top no-repeat;
            background-size: 16px 20px;
            background-position-y: center;
        }

        input#Password {
            background: #fff url(../../Images/Qf83FTt.png) 20px top no-repeat;
            background-size: 16px 20px;
            background-position-y: center;
        }
    </style>

</head>
<body>

    <div class="container body-content">
       @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-12">
                <div class="login-area">
                    <div class="bg-image">
                        <div class="login-signup">
                            <div class="container">
                                <div class="login-header">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div style="padding-top:22px;padding-left:15px;">
                                                &nbsp;<img src="~/Images/logo.png" style="width:130px;height:27px;" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <div class="login-details">
                                                <ul class="nav nav-tabs navbar-right">
                                                    @*<li><a href="@Url.Action("Register", "Account")">Register</a></li>*@
                                                    <li class="active"><a data-toggle="tab" href="#login">Login</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-content">
                                    <div id="register" class="tab-pane">
                                        <div class="login-inner">
                                            <div class="title">
                                                <h1>Login</h1>
                                            </div>
                                            <div class="login-form">

                                                <div class="form-details">

                                                    <label class="mail">

                                                        <span class="input-group-addon">
                                                            <i class="fa fa fa-envelope">
                                                            </i>
                                                        </span>
                                                        <input type="email" name="mail" placeholder="Email Address" id="mail">
                                                    </label>
                                                    <label class="pass">
                                                        <input type="password" name="passsword" placeholder="Password" id="password">
                                                    </label>
                                                    <label class="pass">
                                                        <input type="password" name="passsword" placeholder="Confirm Password" id="password">
                                                    </label>
                                                </div>
                                                <button type="submit" class="form-btn" onsubmit="">Sent</button>

                                            </div>
                                        </div>
                                    </div>
                                    <div id="login" class="tab-pane fade in active">
                                        <div class="login-inner">

                                            <div class="login-form">

                                                <div class="form-details">
                                                    @*<div class="form-group">
                                                            <label class="user">

                                                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
                                                                <div style="text-align:match-parent">@Html.ValidationMessageFor(m => m.Email)</div>
                                                            </label>
                                                            <label class="pass">
                                                                @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
                                                                <div style="text-align:match-parent">@Html.ValidationMessageFor(m => m.Password)</div>
                                                            </label>

                                                            <button type="submit" class="form-btn">Submit</button>
                                                            <div><a href="#" style="text-decoration:none;font-size:small;color:dodgerblue;">Forgot Password?</a></div>
                                                        </div>*@
                                                    <div class="form-group">
                                                        <label class="user">

                                                            @Html.TextBox("Email", "", new { placeholder = "Email" })
                                                            @*<div style="text-align:match-parent">@Html.ValidationMessageFor(m => m.Email)</div>*@
                                                        </label>
                                                        <label class="pass">
                                                            @Html.Password("Password", "", new { placeholder = "Password" })
                                                            @*<div style="text-align:match-parent">@Html.ValidationMessageFor(m => m.Password)</div>*@
                                                        </label>

                                                        <button type="submit" class="form-btn">Submit</button>
                                                        @*<div><a href="#" style="text-decoration:none;font-size:small;color:dodgerblue;">Forgot Password?</a></div>*@
                                                    </div>


                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       }
    </div>

    <!-- /page container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
