@model Bill2Pay.Model.ImportSummary

@{
    ViewBag.Title = "Import Transaction";
}

<div class="row">
    @using (Html.BeginForm("Transaction", "Import", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    { @Html.AntiForgeryToken()

        @Html.Partial("_SelectYear", new Bill2Pay.Web.YearSelection() { AllowPostback = false })

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <strong>Step to Import:</strong>
                    <ul>
                        <li>
                            Prepare transaction data in .csv(coma separated) file format with the following column:
                            <ul>

                                <li>[Payee Account Number] - Text</li>
                                <li>[Transaction Type] - Numeric</li>
                                <li>[Transaction Amount] - Numeric</li>
                                <li>[Transaction Date] - Valid Date</li>
                            </ul>
                        </li>
                        <li>Don't include column header, keep data from the first line of file.</li>
                        <li>Order of column must be as above mentioned.</li>
                        <li>Save .csv file into local computer with a valid name.</li>
                        <li>Create zip archive of the csv file using windows zip utility.</li>
                        <li>Upload .zip file.</li>
                    </ul>

                    
                </div>
                <div class="col-md-4" style="border-left: 1px solid #DDD;padding-left:5px;">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Last Imported Summary:</strong>
                            <br />
                            <br />
                            <div>
                                @Html.Raw(Model.ProcessLog.Replace(Environment.NewLine, "<br />"))
                            </div>

                        </div>
                    </div>
                </div>

                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <br />
                    <strong>@ViewBag.SuccessMessage</strong>

                    <br />
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <input id="fileBase" name="fileBase" type="file" class="btn btn-block btn-primary " placeholder="Select Import file" required />
                        <span class="error">@ViewBag.ValidationMessage</span>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary "><span class="fa fa-cloud-download" title="Import the input file"></span> Import</button>
                    </div>
                </div>
            </div>
            
        </div>
        
    }
</div>


