@using Microsoft.AspNet.Identity
@using Bill2Pay.Web

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bill2Pay Web Portal</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/Custom/Layout.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
</head>
<body>

    <!-- Main navbar -->
    <div class="navbar navbar-inverse  navbar-fixed-top">

        <div class="navbar-header">

            <table cellpadding="0" cellspacing="0" border="0" style="margin:0;border-color:transparent!important;">
                <tr style="border:none;">
                    <td>
                        <ul class="nav navbar-nav">
                            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="fa fa-bars fa-lg"></i></a></li>
                        </ul>
                    </td>
                    <td><a href="#"><img src="~/Images/logo.png" style="width:130px;height:27px;" /></a></td>

                </tr>
            </table>

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"></a></li>
                <li><a class="sidebar-mobile-main-toggle"><i class="fa fa-bars fa-lg"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                @foreach (var item in MenuGenerator.Menu.Items)
                {
                    <li class="@MenuGenerator.IsActive(item.ControllerName, (item.SubMenu != null && item.SubMenu.Count > 0))">
                        <a title="@item.LinkText" href="@Url.Action( @item.ActionName, @item.ControllerName)" class="dropdown-toggle" data-toggle="dropdown"><i class="@item.FontClass"></i> <span>@item.LinkText</span>
                        @if (item.SubMenu != null && item.SubMenu.Count > 0)
                        {
                        <i class="fa fa-angle-down fa-lg"></i>
                        }
                        </a>
                        @if (item.SubMenu != null && item.SubMenu.Count > 0)
                        {
                            <ul class="dropdown-menu dropdown-menu-right">
                                @foreach (var subitem in item.SubMenu)
                                {
                                    <li><a title="@subitem.LinkText" href="@Url.Action(@subitem.ActionName, @subitem.ControllerName)"><i class="@subitem.FontClass"></i> <span>@subitem.LinkText</span></a></li>
                                    <li class="divider"></li>
                                }
                            </ul>

                        }

                    </li>

                                   
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main sidebar-fixed">
                <div class="sidebar-content">
                    <!-- User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">

                            <div class="media">
                                <a href="#" class="media-left"><img src="~/Images/user.jpg" class="img-circle img-sm" alt=""></a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">@User.Identity.Name</span>
                                    <div class="text-size-mini text-muted">
                                        <i class="fa  fa-envelope text-size-small"></i> &nbsp;&nbsp;@User.Identity.GetUserName()
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /user menu -->
                    <!-- Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">
                            <ul class="navigation navigation-main navigation-accordion">
                                @foreach (var item in MenuGenerator.Menu.Items)
                                {
                                    <li class="@MenuGenerator.IsActive(item.ControllerName,(item.SubMenu != null && item.SubMenu.Count > 0))">
                                        <a title="@item.LinkText" href="@Url.Action( @item.ActionName, @item.ControllerName)"><i class="@item.FontClass"></i> <span>@item.LinkText</span>
                                        @if (item.SubMenu != null && item.SubMenu.Count > 0)
                                        {
                                            <i class="fa fa-angle-down fa-lg" style="float:right;margin-right:-30px;"></i>
                                        }
                                        </a>
                                        @if (item.SubMenu != null && item.SubMenu.Count > 0)
                                        {
                                            <ul>
                                                @foreach (var subitem in item.SubMenu)
                                                {
                                                    <li><a title="@subitem.LinkText" href="@Url.Action(@subitem.ActionName, @subitem.ControllerName)"><i class="@subitem.FontClass"></i> <span>@subitem.LinkText</span></a></li>
                                                }
                                            </ul>

                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /main navigation -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper" style="background-color:#fff">
                <!-- Page header -->
                <!-- /page header -->
                <!-- Content area -->
                <div class="content" style="min-height:500px;">
                    <!-- Main charts -->
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Traffic sources -->
                            <div class="container-fluid">
                                @RenderBody()
                            </div>
                            <!-- /traffic sources -->
                        </div>
                    </div>
                    <!-- /main charts -->
                    <!-- Footer -->
                    <div class="footer text-muted">
                        <table>

                            <tr>

                                <td> © 2017. <a href="#"><img src="~/Images/logo.png" style="width:90px;height:15px;" /></a></td>

                            </tr>
                        </table>
                    </div>
                    <!-- /footer -->
                </div>
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>



    <script>

        $(".dtPicker").datepicker();
    </script>

    <!-- /page container -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)

</body>
</html>
