@model IEnumerable<Bill2Pay.Model.MerchantListVM>
<script>

    function SetSelecAllMerchant() {
        $('.tblchk').prop('checked', $('#chkSelectAll').is(":checked"));
        var strAcnos = $('#checkedAccountNo').val();
        var acno = JSON.parse(strAcnos);

        for (var i = 0; i < acno.length; i++) {

            if ($('#chkSelectAll').is(":checked")) {
                acno[i].IsChecked = '1';
            }
            else {
                acno[i].IsChecked = '0';
            }
        }
        strAcnos = JSON.stringify(acno);
        $('#checkedAccountNo').val(strAcnos);
    }

    function GetSelectedMerchant(accno) {

        var strAcnos = $('#checkedAccountNo').val();
        var acno = JSON.parse(strAcnos);
        for (var i = 0; i < acno.length; i++) {
            if (acno[i].AccountNumber == accno) {

                if (acno[i].IsChecked == '0') {
                    acno[i].IsChecked = '1';
                }
                else {
                    acno[i].IsChecked = '0';
                }
            }
        }
        strAcnos = JSON.stringify(acno);

        $('#checkedAccountNo').val(strAcnos);
    }

    function submitForm(statusId) {
        var form = $('#IRSListing');

        $('#statusId').val(statusId);
        form.submit();
    }

    $(document).ready(function () {
        var strAcnos = $('#checkedAccountNo').val();
        var acno = JSON.parse(strAcnos);

        for (var i = 0; i < acno.length; i++) {
            $("input[name='" + acno[i].AccountNo + "']").attr('checked', acno[i].IsChecked == 0 ? false : true)
        }

        strAcnos = JSON.stringify(acno);
        $('#checkedAccountNo').val(strAcnos);
    });

    $(document).ready(function () {
        $('#dataTable').DataTable({
            "columnDefs": [
              { "orderable": false, "targets": [0, 1, 7, 8] }
            ],
            order: [[4, 'asc']],
        });
    });
</script>

<div class="row">
    @using (Html.BeginForm("Process", "IRSProcess", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", Id = "IRSListing" }))
    {
        @Html.AntiForgeryToken()

        @Html.Hidden("checkedAccountNo", (object)@ViewBag.lstmerchantAcc)
        @Html.Hidden("statusId", "");
        @Html.Partial("_SelectYear", new Bill2Pay.Web.YearSelection() { AllowPostback = true, IsVisible = true })

        <div class="col-md-12">


            @{
                if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {


                    <button class="btn  btn-primary" type="submit" name="tinmatching" value="TIN Matching Input">TIN Matching Input</button>
                    <button class="btn  btn-primary" type="submit" name="irstest" value="IRS FIRE Test Input">IRS FIRE Test Input</button>
                    <button class="btn  btn-primary" type="submit" name="irs" value="IRS FIRE Input">IRS FIRE Input </button>
                    <button class="btn  btn-primary" type="submit" name="irscorrection" value="IRS FIRE Correction Input">IRS FIRE Correction Input</button>
                    <div class="dropdown" style="float:right">
                        <button class="btn btn-success dropdown-toggle" type="submit" data-toggle="dropdown">
                            Change Status
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="submitForm(1);">Not Submitted</a></li>
                            <li><a href="#" onclick="submitForm(6);">Submitted</a></li>
                            <li class="divider"></li>
                            <li><a href="#" onclick="submitForm(3);">One-Transaction Correction</a></li>
                            <li><a href="#" onclick="submitForm(7);">Two-Transaction Correction</a></li>

                        </ul>
                    </div>
                                <button class="btn  btn-primary" type="submit" name="generatepdf" value="Generate PDF File">Generate PDF File </button>
                }

            }
            <hr />
        </div>
        <div class="col-md-12">

            <table id="dataTable" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        @if (User.IsInRole("Admin"))
                        {
                            <th><input id="chkSelectAll" onclick="SetSelecAllMerchant();" title="Select All" type="checkbox" style="margin-left:-8px;" /></th>
                        }
                        <th align="center"><span style="margin-left:16px;">1099-K</span></th>
                        <th align="left">Account</th>
                        <th align="left">TIN</th>
                        <th align="left">Merchant Name</th>
                        <th align="left">Address</th>
                        <th align="left">MCC</th>
                        <th>TIN Status</th>
                        <th>IRS Status</th>

                    </tr>
                </thead>
                <tbody>
                    @{

                        if (Model != null)
                        {
                            if (Model.Count() == 0)
                            {
                                <tr>
                                    <td> </td>
                                    <td style="width:100px" align="center"> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td><span>No data found </span></td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>

                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        @if (User.IsInRole("Admin")){
                                        <td>
                                            <input id="chkAccountNo" class="tblchk" onclick="GetSelectedMerchant('@item.ImportDetails.AccountNumber');" type="checkbox" name="@item.ImportDetails.AccountNumber" />&nbsp;
                                        </td>
                                        }
                                        <td style="width:100px" align="center">

                                            <a href="@Url.Action("Details", new { Id = item.ImportDetails.AccountNumber,year=ViewBag.SelectedYear })" alt="1099K">
                                                <i class="fa fa-files-o fa-lg" title="Generate 1099-K Copies" alt="1099K"></i>
                                            </a>


                                        </td>
                                        <td>
                                            @{
                                                if (@item.SubmissionStatus != null)
                                                {

                                                    if (@item.SubmissionStatus.StatusId == 7 && User.IsInRole("Admin"))
                                                    {
                                                        <a href="@Url.Action("Edit", "Merchant", new { Id = item.ImportDetails.AccountNumber,year=ViewBag.SelectedYear })" title="Edit">
                                                            @item.ImportDetails.AccountNumber
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        @item.ImportDetails.AccountNumber
                                                    }
                                                }
                                                else
                                                {
                                                    @item.ImportDetails.AccountNumber
                                                }
                                            }

                                        </td>
                                        <td>@item.ImportDetails.TIN </td>
                                        <td>@item.ImportDetails.FirstPayeeName  </td>
                                        <td>@item.ImportDetails.PayeeMailingAddress </td>
                                        <td>@item.ImportDetails.MerchantCategoryCode</td>
                                        <td align="center">
                                            @{
                                                if (!string.IsNullOrEmpty(@item.ImportDetails.TINCheckStatus))
                                                {
                                                    if (@item.ImportDetails.TINCheckStatus.Equals("0", StringComparison.InvariantCultureIgnoreCase)
                                                                    || @item.ImportDetails.TINCheckStatus.Equals("6", StringComparison.InvariantCultureIgnoreCase)
                                                                    || @item.ImportDetails.TINCheckStatus.Equals("7", StringComparison.InvariantCultureIgnoreCase)
                                                                    || @item.ImportDetails.TINCheckStatus.Equals("8", StringComparison.InvariantCultureIgnoreCase))
                                                    {
                                                        <img style="width:25px; height:25px" title='TIN match sucessfull' src="@Url.Content("~/Images/true.png")" />
                                                    }
                                                    else
                                                    {

                                                        <img style="width:25px; height:25px" title='@item.ImportDetails.TINCheckRemarks' src="@Url.Content("~/Images/false.png")" />

                                                    }
                                                }

                                            }


                                        </td>
                                        <td align="center">
                                            @{

                                                if (@item.SubmissionStatus != null)
                                                {

                                                    if (@item.SubmissionStatus.StatusId == 2)
                                                    {
                                                        <img style="width:25px; height:25px" title='@item.SubmissionStatus.Status.Name' src="@Url.Content("~/Images/Generated.png")" />
                                                    }
                                                    else if (@item.SubmissionStatus.StatusId == 3)
                                                    {
                                                        <img style="width:25px; height:25px" title='@item.SubmissionStatus.Status.Name' src="@Url.Content("~/Images/oneCorrectionRequired.png")" />
                                                    }
                                                    else if (@item.SubmissionStatus.StatusId == 4)
                                                    {
                                                        <img style="width:25px; height:25px" title='@item.SubmissionStatus.Status.Name' src="@Url.Content("~/Images/oneCorrectionUploaded.png")" />
                                                    }
                                                    else if (@item.SubmissionStatus.StatusId == 5)
                                                    {
                                                        <img style="width:25px; height:25px" title='@item.SubmissionStatus.Status.Name' src="@Url.Content("~/Images/resubmitted.png")" />
                                                    }
                                                    else if (@item.SubmissionStatus.StatusId == 6)
                                                    {
                                                        <img style="width:25px; height:25px" title='@item.SubmissionStatus.Status.Name' src="@Url.Content("~/Images/submitted.png")" />
                                                    }
                                                    else if (@item.SubmissionStatus.StatusId == 7)
                                                    {
                                                        <img style="width:25px; height:25px" title='@item.SubmissionStatus.Status.Name' src="@Url.Content("~/Images/TwoCorrectionRequired.png")" />
                                                    }
                                                    else if (@item.SubmissionStatus.StatusId == 8)
                                                    {
                                                        <img style="width:25px; height:25px" title='@item.SubmissionStatus.Status.Name' src="@Url.Content("~/Images/TwoCorrectionUploaded.png")" />
                                                    }
                                                }
                                            }
                                        </td>

                                    </tr>
                                                        }
                                                    }
                                                }
                    }
                </tbody>
            </table>

        </div>

        <div class="col-md-12">
            <hr />

            @{
                if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <button class="btn  btn-primary" type="submit" name="tinmatching" value="TIN Matching Input">TIN Matching Input</button>
                    <button class="btn  btn-primary" type="submit" name="irstest" value="IRS FIRE Test Input">IRS FIRE Test Input</button>
                    <button class="btn  btn-primary" type="submit" name="irs" value="IRS FIRE Input">IRS FIRE Input </button>
                    <button class="btn  btn-primary" type="submit" name="irscorrection" value="IRS FIRE Correction Input">IRS FIRE Correction Input</button>
                    
                    <div class="dropup" style="float:right">
                        <button class="btn btn-success dropdown-toggle" type="submit" data-toggle="dropdown">
                            Change Status
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" onclick="submitForm(1);">Not Submitted</a></li>
                            <li><a href="#" onclick="submitForm(6);">Submitted</a></li>
                            <li class="divider"></li>
                            <li><a href="#" onclick="submitForm(3);">One-Transaction Correction</a></li>
                            <li><a href="#" onclick="submitForm(7);">Two-Transaction Correction</a></li>

                        </ul>
                    </div>
                    <button class="btn  btn-primary" type="submit" name="generatepdf" value="Generate PDF File">Generate PDF File </button>
                }

            }
        </div>
                }
</div>
<link rel="stylesheet" type="text/css" href="~/Content/DataTables/datatables.min.css" />

<style>
    input[type="checkbox"] {
        height: 18px;
        width: 18px;
    }

    .dataTable thead .sorting:after, .dataTable thead .sorting_asc:after {
        content: '';
    }

    .dataTable thead .sorting:before {
        content: '';
        margin-top: -2px;
        color: #999;
    }

    .dataTable thead .sorting_desc:after {
        content: '';
    }

    .dataTables_filter > label:after {
        content: "";
        font-family: icomoon;
        font-size: 12px;
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 12px;
        margin-top: -6px;
        color: #999;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
</style>