@model Bill2Pay.Web.YearSelection

<div class="row">
    <div class="col-md-12">
    @if (Model.IsYearVisible == true)
    {
        <div class="col-md-4">
            <div class="col-md-5 text-bold left-justified">Select Year</div>
            <div class="col-md-4">
                <select name="ddlYear" onchange="SelectYear(this)" style="min-width:150px;" required>
                    <option value="">-- Select Year --</option>
                    @{ 
                        var startYear =int.Parse(@System.Configuration.ConfigurationManager.AppSettings["SystemStartYear"].ToString());
                         
                        for (int yr = startYear; yr < System.DateTime.Now.Year; yr++)
                        {
                            <option value='@yr' @Bill2Pay.Web.MenuGenerator.IsSelected(yr)>@yr</option>

                        }
                    }
                </select>

            </div>
        </div>
    }

        @if (Model.IsVisible == true)
        {
        <div class="col-md-4">

            <div class="col-md-5 text-bold left-justified">Select Payer</div>
            <div class="col-md-4">
                <select name="ddlPayer" style="min-width:150px;" onchange="SelectPayer(this)" required>
                    @if (Model.AllowPostback)
                    {
                        <option value="0">-- All --</option>
                    }
                    else
                    {
                        <option value="">-- Select --</option>
                    }

                    @using (var dbContext = new ApplicationDbContext())
                    {
                        foreach (var payer in dbContext.PayerDetails.Where(p => p.IsActive))
                        {
                        <option value="@payer.Id" @Bill2Pay.Web.MenuGenerator.IsSelectedPayer(payer.Id)>@payer.FirstPayerName</option>
                        }
                    }
                </select>


            </div>
            
        </div>
        }
    </div>
        
    <br />
    <hr />
</div>






<script>
    var AllowSubmit = '@Model.AllowPostback';
    var IsYearVisible = '@Model.IsYearVisible';

    var year = @(Request.RequestContext.RouteData.Values["ID"] == null ? 0: Request.RequestContext.RouteData.Values["ID"]);
    var payer = @(Request["payer"] == null ? "0" : Request["payer"]);
   
    SelectYear = function (oBj) {
        year = $(oBj).val();
        Redirect();
    }
    SelectPayer = function (oBj) {
        payer = $(oBj).val();
        Redirect();

    }
    Redirect = function () {
        if(IsYearVisible == 'True'){
            if (AllowSubmit == 'True' && year > 0 ) {
                location.href = '@Url.Content("~/"+Bill2Pay.Web.MenuGenerator.CurrentUrl)' + year + '/?payer=' + payer;
            }
        }
        else{
            if (AllowSubmit == 'True' ) {
                location.href = '@Url.Content("~/"+Bill2Pay.Web.MenuGenerator.CurrentUrl)' + year + '/?payer=' + payer;
            }
        }
        
        
    
    }
</script>
